Options -Indexes
RewriteEngine On

# Redirige todas las solicitudes a index.php si no es un archivo o directorio existente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<FilesMatch "(\.htaccess|\.env|\.ini|\.log|config\.php|views)">
    Order allow,deny
    Deny from all
</FilesMatch>

RewriteRule ^views/ - [F,L]

